@import '~@angular/material/theming';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

@include mat-core();

$my-theme-primary: mat-palette($mat-indigo);
$my-theme-accent: mat-palette($mat-light-blue);
$my-theme-warn: mat-palette($mat-red);

$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);

@include angular-material-theme($my-theme);

mat-form-field {
  margin-bottom: 1.5rem;
}

table {
  margin: 1rem auto;
}

.mat-cell, .mat-header-cell {
  padding: 12px !important;
}

.display-small {
  display: none;
}

.cursor-pointer {
  color: mat-color($my-theme-primary);
  &:hover {
    cursor: pointer;
  }
}

@include media-breakpoint-down(xs) {
  .display-small {
    display: block;
  }
  .display-medium {
    display: none;
  }
}
